{% extends "layout.html" %}
{% block body_content %}

<form method="POST" action={{ url_for ( 'note_delete', notebook_id = test ) }}>
    <button type="submit">Delete Notebook</button>
</form>

<br>
<br> 

<form action={{ url_for( 'notebook_edit', notebook_id=test)}}>
    <button type="submit">Edit Notebook </button>
</form>
<h3>Add Note:</h3>

<form method="POST" action = {{ url_for( 'add_note', notebook_id=notebook_id)}}>
    <input text="text" name="text" />
    <input text="notebook_id" name="notebook_id" value = "{{test}}" readonly/>
    <input type="submit"/>
</form>



<h3>Notes:</h3>
<ul>
    {% for note in notebook %}
        <a href= {{ url_for( 'view__single_note', note_id = note.id ) }}><li> {{ note.text }} </li></a>
    {% endfor %}
</ul>

{% endblock %} 
